body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-box {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#results {
    margin-top: 30px;
    padding: 10px;
}
.recipe-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
